@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Roboto+Mono');

body{
    font-family: 'Roboto Mono', monospace;
    max-width: 100%;
}

#eventos{
    font-size: 475%;
    font-family: 'Oxygen Mono', monospace;
}

#cartas-rest{
    margin-top: 2%;
    font-size: 400%;
    font-family: 'Oxygen Mono', monospace;
}

.principal{
    height: 125%;
}

#tit-evento{
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    color: #dcdcdc  ;
}

#txt-evento{
    font-size: 150%;
    text-align: center;
    color: #dcdcdc;
}

.btn{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    font-size: 175%;
}

footer{
    margin-top: 2%;
}

a{
    margin-right: 2%;
    margin-left: 2%;
}